HF_TOKEN=replace-me
ALLOW_NSFW=true
DEFAULT_DEVICE=auto
DEFAULT_TORCH_DTYPE=auto
ENABLE_TORCH_COMPILE=false
ENABLE_REGIONAL_COMPILE=true
ENABLE_CPU_OFFLOAD=false
ENABLE_MODEL_WARMUP=false
SERVICE_PORT=8000
